@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.countdown-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .countdown-div-section {
    display: flex;
    align-items: center;

    .countdown-div-item {
      margin-right: 5px;
    }
  }

  #countdown-edit {
    font-size: 15px;
    color: green;
    cursor: pointer;
    text-decoration: underline;
  }
}

.countdown-div-closed {
  display: none;
}

.date-selector {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .trip-date-text {
    margin-right: 10px;
  }

  .trip-date-input {
    margin-right: 10px;
  }
}

#trip-date-card {
  position: absolute;
  top: 30%;
  left: 35%;
  height: 40%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#trip-date-card-closed {
  display: none;
}
