@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.countdown-div {
  display: flex;
  align-items: center;

  .countdown-div-section {
    margin-right: 5px;
  }
}

.countdown-div-closed {
  display: none;
}

.date-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .trip-date-text {
    margin-right: 10px;
  }

  .trip-date-input {
    margin-right: 10px;
  }
}
