.radio {
    display: flex;
    align-items: center;
    position: relative;
    top: -15px;
    margin-top: -25px;
}
.surveyattraction {
    margin-left: 20px;
    font-size: 15px;
    margin-right: 20px;
}

