@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.surveymain {
  position: relative;
  height: 90vh;
  width: 100vw;
  background-color: gray;

  .turtle {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    background-color: limegreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .michaelangelo {
      height: 25px;
      width: 100%;
      background-color: orange;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50% 50% 0% 0%;
    }
    .raphael {
      height: 25px;
      width: 100%;
      background-color: red;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50% 50% 0% 0%;
    }
    .donatello {
      height: 25px;
      width: 100%;
      background-color: purple;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50% 50% 0% 0%;
    }
    .leonardo {
      height: 25px;
      width: 100%;
      background-color: skyblue;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 50% 50% 0% 0%;
    }
    .turtle-eye {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .turtle-pupil {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: black;
      }
    }

    .turtle-mouth {
      width: 80px;
      height: 10px;
      border-radius: 50%;
      border-bottom: solid black 2px;
    }
  }

  .lily {

    .lily-head {
      display: flex;

      .lily-hair-left {
        height: 100px;
        width: 20px;
        background-color: #FFFFE3;
        border-radius: 50% 0% 0% 0%;
      }
      .lily-face {
        height: 100px;
        width: 75px;
        border-radius: 50%;
        background-color: #FFDBAC;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .lily-eyes {
          height: 25px;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .lily-eye {
            height: 15px;
            width: 25px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .lily-iris {
              // background-image: radial-gradient(steelblue 100%);
              background-color: rgb(71, 143, 202);
              height: 15px;
              width: 15px;
              border-radius: 50%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: solid rgb(70, 70, 70) .5px;

              .lily-pupil {
                height: 7px;
                width: 7px;
                border-radius: 50%;
                background-color: rgb(70, 70, 70);
              }
            }
          }
        }
        .lily-nose {
          height: 10px;
          width: 15px;
          border: solid .5px;
          border-top: none;
          border-radius: 0% 0% 25% 25%;
        }
        .lily-mouth {
          height: 10px;
          width: 30px;
          border-radius: 50%;
          background-color: pink;
        }
      }
    }
  }

  .survey-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      color: $purple;
      margin-top: 0px;
    }

    h2 {
      color: $toon;
      width: 90%;
    }
  }

  .surveyarray {
    @include center(center);
    flex-direction: column;

    .radio {
      @include center(center);
      flex-direction: column;
      position: relative;
      border: solid 3px black;
      width: 90%;

      label {
        margin-left: 10px;
      }

      .surveycomments {
        width: 70vw;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      button {
        @include button;
        margin-bottom: 5px;
      }
    }
  }
}
