@media (min-width: 1400px) {
    .currenttrip {
        position: relative;
        right: -890px;
        border: solid 1px transparent;
        margin-bottom: 5px;
    }
    .tripyourday {
        position: relative;
        right: -890px;
    }
}


@media (max-width: 1400px) {

.currenttrip {
    position: relative;
    right: -680px;
    border: solid 1px transparent;
    margin-bottom: 5px;
}

.tripyourday {
    position: relative;
    right: -680px
}
}

.tripAlice {
    @include location($fantasy);
    border: none;
    }
    
    .tripAstro {
    @include location($tomorrow);
    border: none;
    }
    
    .tripAstroblasters {
        @include location($tomorrow);
        border: none;
    
    }
    
    .tripAutopia {
        @include location($tomorrow);
        border: none;
    }
    
    .tripBig {
        @include location($frontier);
        border: none;
    }
    
    .tripCasey {
        @include location($fantasy);
        border: none;
    }
    
    .tripDisneyland {
        @include location($main);
        border: none;

    }
    
    .tripDumbo {
        @include location($fantasy);
        border: none;
    }
    
    .tripEnchanted {
        @include location($adventure);
        border: none;
    }
    
    .tripGadgets {
        @include location($toon);
        border: none;
    }
    
    .tripHaunted {
        @include location($new);
        border: none;
    }
    
    .tripIndiana {
        @include location($adventure);
        border: none;
    }
    
    .tripIts {
        @include location($fantasy);
        border: none;
    }
    
    .tripJungle {
        @include location($adventure);
        border: none;
    }
    
    .tripKing {
        @include location($fantasy);
        border: none;
    }
    
    .tripMark {
        @include location($frontier);
        border: none;
    }
    
    .tripMatterhorn {
        @include location($fantasy);
        border: none;
    }
    
    .tripMr {
        @include location($fantasy);
        border: none;
    }
    
    .tripPeter {
        @include location($fantasy);
        border: none;
    }
    
    .tripPinocchio {
        @include location($fantasy);
        border: none;
    }
    
    .tripPirates {
        @include location($new);
        border: none;
    }
    
    .tripRoger {
        @include location($toon);
        border: none;
    }
    
    .tripSailing {
        @include location($frontier);
        border: none;
    }
    
    .tripSnow {
        @include location($fantasy);
        border: none;
    }
    
    .tripSpace {
        @include location($tomorrow);
        border: none;
    }
    
    .tripSplash {
        @include location($critter);
        border: none;
    }
    
    .tripStar {
        @include location($tomorrow);
        border: none;
    }
    
    .tripStorybookland {
        @include location($fantasy);
        border: none;
    }
    
    .tripSubmarine {
        @include location($tomorrow);
        border: none;
    }
    
    .tripTarzan {
        @include location($adventure);
        border: none;
    }
    
    .tripTeacups {
        @include location($fantasy);
        border: none;
    }
    
    .tripWinnie {
        @include location($critter);
        border: none;
        }
    
    .tripfantasy {
        @include land($fantasy);
        top: -1195px;
        left: 350px;
    }

    .tripmains {
        @include land($main);
        top: -950px;
        left: 650px;  

    }

    .tripcritter {
        @include land($critter);
        top: -1305px;
        left: 50px;
    }

    .tripfrontier {
        @include land($frontier);
        top: -1135px;
        left: 50px;
    }

    .tripnew {
        @include land($new);
        top: -834px;
        left: 50px;
    }

    .tripadventure {
        @include land($adventure);
        top: -1076px;
        left: 50px;
    }

    .triptoon {
        @include land($toon);
        top: -952px;
        left: 350px;
    }

    .triptomorrow {
        @include land($tomorrow);
        top: -1415px;
        left: 650px;
    }

    .divtripAlice {
        @include tripdiv(26px, 300px);
        }
        
        .divtripAstro {
            @include tripdiv(-11px, 600px);
        }
        
        .divtripAstroblasters {
            @include tripdiv(-11px, 600px);
        
        }
        
        .divtripAutopia {
            @include tripdiv(-11px, 600px);
        }
        
        .divtripBig {
            @include tripdiv(11px, 0px);
        }
        
        .divtripCasey {
            @include tripdiv(-122px, 300px);
        }
        
        .divtripDisneyland {
            @include tripdiv(85px, 600px);
    
        }
        
        .divtripDumbo {
            @include tripdiv(-159px, 300px);
        }
        
        .divtripEnchanted {
            @include tripdiv(31px, 0px);
        }
        
        .divtripGadgets {
            @include tripdiv(191px, 300px);
        }
        
        .divtripHaunted {
            @include tripdiv(162px, 0px);
        }
        
        .divtripIndiana {
            @include tripdiv(-43px, 0px);
        }
        
        .divtripIts {
            @include tripdiv(-308px, 300px);
        }
        
        .divtripJungle {
            @include tripdiv(-80px, 0px);
        }
        
        .divtripKing {
            @include tripdiv(-345px, 300px);
        }
        
        .divtripMark {
            @include tripdiv(-360px, 0px);
        }
        
        .divtripMatterhorn {
            @include tripdiv(-938px, 300px);
        }
        
        .divtripMr {
            @include tripdiv(-347px, 300px);
        }
        
        .divtripPeter {
            @include tripdiv(-347px, 300px);
        }
        
        .divtripPinocchio {
            @include tripdiv(-347px, 300px);
        }
        
        .divtripPirates {
            @include tripdiv(-134px, 0px);
        }
        
        .divtripRoger {
            @include tripdiv(-180px, 300px);
        }
        
        .divtripSailing {
            @include tripdiv(-878px, 0px);
        }
        
        .divtripSnow {
            @include tripdiv(-421px, 300px);
        }
        
        .divtripSpace {
            @include tripdiv(-677px, 600px);
        }
        
        .divtripSplash {
            @include tripdiv(-825px, 0px);
        }
        
        .divtripStar {
            @include tripdiv(-714px, 600px);
        }
        
        .divtripStorybookland {
            @include tripdiv(-532px, 300px);
        }
        
        .divtripSubmarine {
            @include tripdiv(-751px, 600px);
        }
        
        .divtripTarzan {
            @include tripdiv(-561px, 0px);
        }
        
        .divtripTeacups {
            @include tripdiv(-606px, 300px);
        }
        
        .divtripWinnie {
            @include tripdiv(-1010px, 0px);
            }




            @media (max-width: 1200px) {
                .tripfantasy {
                    @include land($fantasy);
                    top: -1195px;
                    left: 350px;
                }
            
                .tripmains {
                    @include land($main);
                    top: -460px;
                    left: 50px;  
            
                }
            
                .tripcritter {
                    @include land($critter);
                    top: -1305px;
                    left: 50px;
                }
            
                .tripfrontier {
                    @include land($frontier);
                    top: -1135px;
                    left: 50px;
                }
            
                .tripnew {
                    @include land($new);
                    top: -834px;
                    left: 50px;
                }
            
                .tripadventure {
                    @include land($adventure);
                    top: -1076px;
                    left: 50px;
                }
            
                .triptoon {
                    @include land($toon);
                    top: -812px;
                    left: 50px;
                }
            
                .triptomorrow {
                    @include land($tomorrow);
                    top: -915px;
                    left: 350px;
                }
            
                .divtripAlice {
                    @include tripdiv(26px, 300px);
                    }
                    
                    .divtripAstro {
                        @include tripdiv(488px, 300px);
                    }
                    
                    .divtripAstroblasters {
                        @include tripdiv(488px, 300px);
                    
                    }
                    
                    .divtripAutopia {
                        @include tripdiv(488px, 300px);
                    }
                    
                    .divtripBig {
                        @include tripdiv(11px, 0px);
                    }
                    
                    .divtripCasey {
                        @include tripdiv(-122px, 300px);
                    }
                    
                    .divtripDisneyland {
                        @include tripdiv(575px, 0px);
                
                    }
                    
                    .divtripDumbo {
                        @include tripdiv(-159px, 300px);
                    }
                    
                    .divtripEnchanted {
                        @include tripdiv(31px, 0px);
                    }
                    
                    .divtripGadgets {
                        @include tripdiv(332px, 0px);
                    }
                    
                    .divtripHaunted {
                        @include tripdiv(162px, 0px);
                    }
                    
                    .divtripIndiana {
                        @include tripdiv(-43px, 0px);
                    }
                    
                    .divtripIts {
                        @include tripdiv(-308px, 300px);
                    }
                    
                    .divtripJungle {
                        @include tripdiv(-80px, 0px);
                    }
                    
                    .divtripKing {
                        @include tripdiv(-345px, 300px);
                    }
                    
                    .divtripMark {
                        @include tripdiv(-360px, 0px);
                    }
                    
                    .divtripMatterhorn {
                        @include tripdiv(-938px, 300px);
                    }
                    
                    .divtripMr {
                        @include tripdiv(-347px, 300px);
                    }
                    
                    .divtripPeter {
                        @include tripdiv(-347px, 300px);
                    }
                    
                    .divtripPinocchio {
                        @include tripdiv(-347px, 300px);
                    }
                    
                    .divtripPirates {
                        @include tripdiv(-134px, 0px);
                    }
                    
                    .divtripRoger {
                        @include tripdiv(-38px, 0px);
                    }
                    
                    .divtripSailing {
                        @include tripdiv(-878px, 0px);
                    }
                    
                    .divtripSnow {
                        @include tripdiv(-421px, 300px);
                    }
                    
                    .divtripSpace {
                        @include tripdiv(-178px, 300px);
                    }
                    
                    .divtripSplash {
                        @include tripdiv(-825px, 0px);
                    }
                    
                    .divtripStar {
                        @include tripdiv(-215px, 300px);
                    }
                    
                    .divtripStorybookland {
                        @include tripdiv(-532px, 300px);
                    }
                    
                    .divtripSubmarine {
                        @include tripdiv(-252px, 300px);
                    }
                    
                    .divtripTarzan {
                        @include tripdiv(-561px, 0px);
                    }
                    
                    .divtripTeacups {
                        @include tripdiv(-606px, 300px);
                    }
                    
                    .divtripWinnie {
                        @include tripdiv(-1010px, 0px);
                        }
            
                        .currenttrip {
                            border: solid 1px transparent;
                            position: relative;
                            right: -350px;
                        }
            
                        .tripmain {
                            display: flex;
                            height: 1500px
                        }
                        .tripyourday {
                            position: relative;
                            right: -350px
                        }
            }
            
            @media (max-width: 900px) {
                .tripfantasy {
                    @include land($fantasy);
                    top: -329px;
                    left: 50px;
                }
            
                .tripmains {
                    @include land($main);
                    top: -460px;
                    left: 50px;  
            
                }
            
                .tripcritter {
                    @include land($critter);
                    top: -1305px;
                    left: 50px;
                }
            
                .tripfrontier {
                    @include land($frontier);
                    top: -1135px;
                    left: 50px;
                }
            
                .tripnew {
                    @include land($new);
                    top: -834px;
                    left: 50px;
                }
            
                .tripadventure {
                    @include land($adventure);
                    top: -1076px;
                    left: 50px;
                }
            
                .triptoon {
                    @include land($toon);
                    top: -812px;
                    left: 50px;
                }
            
                .triptomorrow {
                    @include land($tomorrow);
                    top: -49px;
                    left: 50px;
                }
            
                .divtripAlice {
                    @include tripdiv(891px, 0px);
                    }
                    
                    .divtripAstro {
                        @include tripdiv(1355px, 0px);
                    }
                    
                    .divtripAstroblasters {
                        @include tripdiv(1355px, 0px);
                    
                    }
                    
                    .divtripAutopia {
                        @include tripdiv(1355px, 0px);
                    }
                    
                    .divtripBig {
                        @include tripdiv(11px, 0px);
                    }
                    
                    .divtripCasey {
                        @include tripdiv(742px, 0px);
                    }
                    
                    .divtripDisneyland {
                        @include tripdiv(575px, 0px);
                
                    }
                    
                    .divtripDumbo {
                        @include tripdiv(705px, 0px);
                    }
                    
                    .divtripEnchanted {
                        @include tripdiv(31px, 0px);
                    }
                    
                    .divtripGadgets {
                        @include tripdiv(332px, 0px);
                    }
                    
                    .divtripHaunted {
                        @include tripdiv(162px, 0px);
                    }
                    
                    .divtripIndiana {
                        @include tripdiv(-43px, 0px);
                    }
                    
                    .divtripIts {
                        @include tripdiv(557px, 0px);
                    }
                    
                    .divtripJungle {
                        @include tripdiv(-80px, 0px);
                    }
                    
                    .divtripKing {
                        @include tripdiv(520px, 0px);
                    }
                    
                    .divtripMark {
                        @include tripdiv(-360px, 0px);
                    }
                    
                    .divtripMatterhorn {
                        @include tripdiv(-73px, 0px);
                    }
                    
                    .divtripMr {
                        @include tripdiv(519px, 0px);
                    }
                    
                    .divtripPeter {
                        @include tripdiv(519px, 0px);
                    }
                    
                    .divtripPinocchio {
                        @include tripdiv(519px, 0px);
                    }
                    
                    .divtripPirates {
                        @include tripdiv(-134px, 0px);
                    }
                    
                    .divtripRoger {
                        @include tripdiv(-38px, 0px);
                    }
                    
                    .divtripSailing {
                        @include tripdiv(-878px, 0px);
                    }
                    
                    .divtripSnow {
                        @include tripdiv(445px, 0px);
                    }
                    
                    .divtripSpace {
                        @include tripdiv(688px, 0px);
                    }
                    
                    .divtripSplash {
                        @include tripdiv(-825px, 0px);
                    }
                    
                    .divtripStar {
                        @include tripdiv(651px, 0px);
                    }
                    
                    .divtripStorybookland {
                        @include tripdiv(333px, 0px);
                    }
                    
                    .divtripSubmarine {
                        @include tripdiv(613px, 0px);
                    }
                    
                    .divtripTarzan {
                        @include tripdiv(-561px, 0px);
                    }
                    
                    .divtripTeacups {
                        @include tripdiv(259px, 0px);
                    }
                    
                    .divtripWinnie {
                        @include tripdiv(-1010px, 0px);
                        }
            
                        .currenttrip {
                            border: solid 1px transparent;
                            position: relative;
                            right: -10px;
                        }
            
                        .tripmain {
                            display: flex;
                            height: 1700px
                        }
            
                        .tripyourday {
                            position: relative;
                            right: -10px;
                        }

                       
            }

        