$adventure : #31572C;
$main: #d62828;
$new: #541388;
$critter: #B5651D;
$star: #837A75;
$frontier: #F18F01;
$fantasy: #EE70A6;
$toon: #EB4511;
$tomorrow: #41BBD9;
$blue: #006E99;
$purple: #986698;
$green: #0AF167;
$white: #F5F5F5;
$yellow: #f5f351;
$disney: 'Permanent Marker', cursive;
$map: "https://www.tripsavvy.com/thmb/rOZWt_5rVLbIIMGg_DOT5qeVv34=/1400x1048/filters:no_upscale():max_bytes(150000):strip_icc()/Map_CA_Disneyland_Disney-566a2f525f9b583dc31d3290.jpg"


