$background: url(https://i.stack.imgur.com/2AWYj.jpg);
$adventure : #31572C;
$main: #d62828;
$new: #541388;
$critter: #B5651D;
$star: #837A75;
$frontier: #F18F01;
$fantasy: #EE70A6;
$toon: #EB4511;
$tomorrow: #41BBD9;
$blue: #006E99;
$purple: #986698;
$green: #0AF167;
$white: #F5F5F5;


