

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "./mixins";
@import "./variables";
@import "./tripqueries";

//AUTH

// div {
//     border: solid;
// }



//NAV



//DASHBOARD



//COUNTDOWN



//ATTRACTION

.attractionmain {
  @include center(space-evenly);
  text-align: center;

  .attraction-name {
    font-size: 20px;
    color: black;
  }

  .attractioncardTomorrowland {
    @include card($tomorrow);
  }

  .attractioncardMain {
    @include card($main);
  }

  .attractioncardAdventureland {
    @include card($adventure);
  }

  .attractioncardCritter {
    @include card($critter);
  }

  .attractioncardNew {
    @include card($new);
  }

  .attractioncardToon {
    @include card($toon);
  }

  .attractioncardFrontierland {
    @include card($frontier);
  }

  .attractioncardFantasyland {
    @include card($fantasy);
  }

  h1 {
    font-family: $disney;
  }

  p {
    width: 90%;
    position: relative;
  }

  img {
    width: 280px;
    height: 170px;
    position: relative;
  }

  .attractionratingdiv {
    position: relative;
    width: 60%;
    @include center(space-evenly);

    .attractionrating {
      color: green;
      font-family: none;
      font-size: 40px;
    }
  }

  h3 {
    position: relative;
  }
}

#attractionstatsbuttondiv {
  top: 250px;
}

.scroll {
  width: 100%;
  position: relative;
  height: 60px;
}

//SURVEY

.surveymain {
  position: relative;
  top: 130px;

  .survey-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      color: $purple;
      margin-top: 0px;
    }

    h2 {
      color: $toon;
      width: 90%;
    }
  }

  .surveyarray {
    @include center(center);
    flex-direction: column;

    .radio {
      @include center(center);
      flex-direction: column;
      position: relative;
      border: solid 3px black;
      width: 90%;

      label {
        margin-left: 10px;
      }

      .surveycomments {
        width: 70vw;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      button {
        @include button;
        margin-bottom: 5px;
      }
    }
  }
}

//Trip

.tripmain {
  display: flex;

  .trip {
    position: relative;
    top: 230px;
  }

  button {
    @include button;
    height: 20px;
    font-size: 10px;
    width: 100px;
  }
}

.tripdiv {
  @include center(center);
  height: 35px;
  width: 50vw;
}

.triptrip {
  margin-top: 150px;
  margin-right: 150px;
}

//MAP



//STATS

.statsmain {
  position: relative;
  top: 200px;
  @include center(center);
  flex-direction: column;

  .overallbarchart {
    position: relative;
    width: 750px;
    @include center(center);
  }

  .userbarchart {
    position: relative;
    width: 750px;
    @include center(center);
  }
}

.statsbuttondiv {
  @include center(center);
  position: relative;
  top: 20px;

  h2 {
    margin-right: 20px;
  }

  .statsbutton {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    font-size: 16px;
    background-color: #ffff66;
    color: $blue;
    z-index: 3;
    border: solid 3px black;
    box-shadow: 4px 4px 7px 1px black;
    text-decoration: underline;
    position: relative;
  }
}


