@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.statsmain {
  position: relative;
  height: 90vh;
  width: 100vw;
  @include center(center);
  flex-direction: column;

  .overallbarchart {
    position: relative;
    width: 750px;
    @include center(center);
  }

  .userbarchart {
    position: relative;
    width: 750px;
    @include center(center);
  }
}