@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";
@import "../tripqueries";

.dashboardmain {
  position: relative;
  height: 90vh;

  .dashboardtitle {
    @include center(center);
    font-size: 80px;
    font-family: $disney;
    color: $purple;
    position: relative;
  }

  .dashboarddays {
    @include center(center);
    position: relative;
    height: 100px;

    .dayslist {
      @include center(center);

    }
   

   
  }

  .trip-so-far {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dashboardlist {
    @include center(center);
    align-items: flex-start;
    width: 100vw;
    position: relative;

    .filled-day {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;


      
 .dashboardCritter {
      color: $critter;
    }
    }
  }
}


h6 {
  margin-right: 20px;
  font-size: 20px;
}

a {
  color: $main;
}
