@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.tripmain {
  display: flex;
  height: 90vh;
  width: 100vw;
  position: relative;

  .trip {
    position: relative;
  }

  button {
    @include button;
    height: 20px;
    font-size: 10px;
    width: 100px;
  }
}

.tripdiv {
  @include center(center);
  height: 35px;
  width: 50vw;
}

.triptrip {
  margin-right: 150px;
}