@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "../mixins";
@import "../variables";

.tripmain {
  display: flex;
  height: 90vh;
  width: 100vw;
  position: relative;
  justify-content: space-evenly;
  text-align: center;

  .trip-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .trip-right {
display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .trip-trip {

  }

 

  
}

.triptrip {
  margin-right: 150px;
}

.tripdiv {
  @include center(center);
  height: 35px;
  width: 50vw;
}

