.navbar {
    position: fixed;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    background-color: yellow;
    top: 0px;
    z-index: 2;
}


.image{
    width: 100px;
    height: 100px;
}